model_files/
output_data/
datasets/
__pycache__/
/.spyproject
results/
/vgg.npy
dataset/
output_data/
/sim.json
/vgg_16.ckpt
/cc_vgg_triplets.npy
/cc_googlenet_triplets.npy
/fivr_triplets.npy
/fivr_triplets_full.npy
